

.Cards{
  margin: 100px auto 100px;
  width: 400px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -1px 3px 15px 0 rgba(0, 0, 0, .06);
  transition: all 1s linear;
}

.Cards:hover .circle-cover{
  transform: scale(35);
  z-index: 0;
}

.Cards:hover .stage{
  position: absolute;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;

}

img {
  width: 100%;
}



.circle-cover {
  position: absolute;
  top: -80px;
  left: -80px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #7f00ff;
  transform: scale(1);
  transition: all .5s linear;
  z-index: 1;
}

